.sign_up {
  text-align: center;
  width: 760px;
  height: 574px;
  border: solid blue 2px;
  border-color: rgba(192,192,192,0.1);
  border-radius: 10px;
  margin: 60px auto;
  background: #FFFFFF;
  z-index: 3;
  position: relative;
}

.head_form{
  margin-top: 40px;
  font-size: 38px;
  font-weight: bold;
}

.shadow {
  box-shadow: 0px 8px 20px rgba(165, 185, 201, 0.3);
  border-radius: 10px;
}

.data {
  width: 640px;
  height: 101px;
  margin-left: 60px;
  margin-top: 46px;

  input {
    width: 640px;
    height: 59px;
    outline: none;
    border: solid blue 2px;
    border-color: rgba(192,192,192,0.1);
    background: rgba(155, 246, 255, 0.2);
    border-radius: 100px;
    font-size: 20px;
    display: flex;
    align-items: center;
    color: #5343C6;
    padding-left: 40px;
  }
}

.text {
  font-weight: bold;
  font-size: 22px;
  margin: 0 502px 16px 0;
}

.go {

  &_reg {
    margin-top: 60px;
    width: 240px;
    height: 74px;
    background: linear-gradient(90deg, #FFB900 0%, #FF7E67 56.49%, #FF4970 117.08%);
    border-radius: 200px;
    border: #FFFFFF;
    border-color: #FFFFFF;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    cursor: pointer;
    outline: none;

    &:hover {
      color: #5343C6;
    }
  }
}

.butt_text {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 28px;
}

.create_acc {
  text-align: center;
  width: 760px;
  height: 1168px;
  border: solid blue 2px;
  border-color: rgba(192,192,192,0.1);
  border-radius: 10px;
  margin: 60px auto;
  background: #FFFFFF;
  z-index: 3;
  position: relative;
}

.data_reg {
  width: 310px;
  height: 101px;
  margin-top: 46px;

  input {
    width: 260px;
    height: 59px;
    outline: none;
    border: solid blue 2px;
    border-color: rgba(192,192,192,0.1);
    background: rgba(155, 246, 255, 0.2);
    border-radius: 100px;
    font-size: 20px;
    display: flex;
    align-items: center;
    color: #5343C6;
    padding-left: 40px;
  }
}

.re {
  float: left;
  font-weight: bold;
  font-size: 22px;
  margin: 0 0 16px 0;
}

.left_col_reg, .right_col_reg {
  margin-left: 60px;
}

.left_col_reg {
  float: left;
}

.right_col_reg {
  float: right;
}

.len_reg input {
  width: 32em;
  height: 59px;
  outline: none;
  border: solid blue 2px;
  border-color: rgba(192,192,192,0.1);
  background: rgba(155, 246, 255, 0.2);
  border-radius: 100px;
  font-size: 20px;
  display: flex;
  align-items: center;
  color: #5343C6;
  padding-left: 40px;
}

.new_reg {
  clear: both;
}

.tube {
  position: absolute;
  bottom: 0px;
  height: 180px;
  left: 50px;
}

.text_reg {
  font-weight: bold;
  font-size: 22px;
  margin:0 502px 16px 0;

  label {
    white-space: nowrap;
  }
}
