<main class="home main_page_container">
  <div class="wrapper">
    <h1 class="main_headline">
      <p>Congrats!</p>
      <p>Welcome</p>
      <p>to<span class="additional_style_headline">Tutor<span class="additional_symbol">u</span>!</span></p>
    </h1>
  </div>
</main>
